body {
  display: flex;
  flex-direction: column;
  font-family: Georgia, serif;
  margin: 2rem 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: white; /* Give Chrome something to invert */
    filter: invert(1);
  }

  img {
    filter: invert(1);
  }
}

@media (max-width: 56ch) {
  .min-sm {
    display: none;
  }
}

.hidden {
  display: none;
}

.narrow {
  width: 100%;
  max-width: 56ch;
  margin: 0 auto;
}

.space-vertical {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.gap-above {
  margin-top: 2rem;
}

h1, h2 {
  font-weight: normal;
  margin-bottom: 1.3rem;
}

h1 {
  font-size: 1.8rem;
  margin-top: 0;
}

h2 {
  margin-top: 4rem;
  font-size: 1.6rem;
}

.after-heading {
  margin-top: -0.65rem;
  margin-bottom: 1.3rem;
}

.site-nav, .chapter-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.site-nav {
  justify-content: space-around;
}

.chapter-nav {
  justify-content: space-between;
}

.prose {
  font-size: 1.2rem;
  text-align: justify;
}

.prose > h1, .prose > h2 {
  text-align: center;
}

.prose img {
  margin: 1em 0;
}

.prose > p, .prose > .dream > p {
  margin: 0;
  text-indent: 0.3in;
  line-height: 1.5em;
}

.prose > h1 + p, .prose > h2 + p, .after-heading + p, .dream > p:first-child {
  text-indent: 0;
}

.prose > h2 > a {
  color: inherit;

.prose > .dream {
  position: relative;
  color: white;
  margin: 0 -1em 1em -1em;
  padding: 1em;
}

.prose > .dream::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: black;
  border-radius: 0.5rem;
  filter: blur(0.5rem);
}

#saved-container {
  padding: 0.5rem;
  background-color: hsl(0, 0%, 90%);
  border: 1px solid darkgrey;
}

#saved-container * {
  margin: 0;
}
